.bar-container {
    position: fixed;
    width: 96%;
    margin: 10px 2%;
    border-radius: 50px;
    overflow: hidden;
    opacity: .7;
}
.bar-container:hover {
    opacity: .9;
}

.hero-img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.aside-bizp {
    min-width: 400px;
    margin: 0 2%;
}

.main-bizp {
    min-width: 400px;
    max-width: 900px;
    background-color: aqua;
    overflow: -webkit-paged-x;
}

