@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.figma-headers{
    font-family: 'Merienda One';
}

.menu-p{
    opacity: 85%;
    box-shadow: none;
}

.bg-foto-mapa{
    /*background-image: '@/assets/mapa-bg.png';*/
    background-image: url("../../assets/Home/mapa-bg.png");
    background-position: center;
    background-size: cover;
    block-size: 400px;
}

.logo-principal{
    padding-top: 30px;
}

.title-p{
    padding-top: 35px;
    padding-bottom: 10px;
}

.bg-para-mapa{
    background-color:#00303F;
    opacity: 85%;
    block-size: 400px;
}

.contenido-header{
    padding-top: 6%;
}

.seccion-cards{
    /* background-color:#aecac0 ; */
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(202,228,219,1) 100%);
}

.btnin{
    color: #004F67;
    font-weight: bold;
    font-size: 14.5px;
}

.btnin:hover{
    color: #004F67;
}

.btn-blanco{
    color: #ffffff;
    font-weight: bold;
    font-size: 14.5px;
    text-decoration: none;
}

.btn-blanco:hover{
    color: #ffffff;
}

.btn-amarillo{
    color: #004F67;
    font-weight: bold;
    font-size: 14.5px;
    text-decoration: none;
}
.btn-amarillo:hover{
    background-color: #F7C331;
    color: #004F67;
}

.seccion-lideres{
    /* background-color:#CAE4DB ; */
    background-color: #ffffff;
}


.seccion2{
    background-color: #080a0a;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.seccion3{
    margin: 15px;
    padding: 15px;
}


.seccion-empresas{
    background-color:#00303F ;
    padding: 40px;
}

.seccion-about-as{
    background-color:#ffffff ;
    padding: 40px;
}

.items-e{
    display: block;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.items-empresa{
    color: #ffffff ;
}



@media (max-width: 600px){
    .all-page{
        align-items: center;
        display: block;
        min-height: 100vw;
        justify-content: center;
    } 
}

/* @media (max-width: 850px){
    .contenido-header{
        align-items: center;
        display: block;
        min-height: 100vw;
        justify-content: center;
        padding: 10vh;
    } 
} */

@media (max-width: 1550px){
    .contenido-header{
        align-items: center;
        display: block;
        min-height: 100vw;
        justify-content: center;
        padding:17.5vh;
    } 
}

@media (max-width: 600px){
    .seccion-cards{
        align-items: center;
        display: block;
        min-height: 100vw;
        justify-content: center;
    } 
}





@media (max-width: 870px){
    .seccion-lideres{
        align-items: center;
        display: block;
        min-height: 100vw;
        justify-content: center;
        align-items: center;
    } 
}

@media (max-width: 870px){
    .imagen-people-pet{
        align-items: center;
        display: block;
        min-height: 100vw;
        justify-content: center;
        align-items: center;
    } 
}

@media (max-width: 890px){
    .img-people-pet{
        align-items: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin:auto;
    } 
}