.leaflet-container{
    width: 1530px;
    height: 653px;
}

.btn-map{
    align-items: center;
    background-color: yellow;
}

.text{
    text-align: center;
    color: #004F67;
}

.leaflet-popup-content-wrapper {
    padding: 0.5px; 
    text-align: center;
    border-radius: 12px;
}

.divider-popup{
    margin-top: 10px;
    margin-bottom: 10px;
}

.name-store {
    font-size: x-large;
    margin: auto;

}

.desc-store{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}



.box-imagen{
    width: 600px;
    height: 500px;
}

.box-nombreshop{
    width: auto;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.box-descripcion{
    width: auto;
    height: 300px;
    padding: 0.1px;
    text-align: center;
    
}

.box-btn{
    width: auto;
    height: 50px;
    padding: 20px;
    text-align: center;

}

.btn-style{
    background-color: #F7CC31;
    color: #004F67;
    width: 400px;
    height: 65px;
    border-color: #004F67;
    text-size-adjust: 100px;
    font-size: x-large;
    border-radius: 10px;
}

.btn-style1{
    background-color: #cfcfcf;
    border-radius: 10px;
    color: #004F67;
    width: 400px;
    height: 65px;
    border-color: #004F67;
    text-size-adjust: 100px;
    font-size: x-large;
}

.header{
    width: 100vw;
    height: 60px;
}

.icono{
    background-color: #F2F2F2;
}

.h1{
    color: #00303F;
}

.h2{
    color: #004F67;

}

.btn-infom{
    background-color: #004F67;
    border-color: #00303F;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    color: #fdfdfd;
}

.btn-ubc{
    position: absolute;
    bottom: 50px;
    right: 100px;
    z-index: 400;
}